{% extends 'base.html' %}

    {% block body %}
        
        <h2>Users</h2>
        <h3>You are logged as {{user[0]}}</h3>

        {% for user in users %}

            <form action="/pick_user" method="POST">

                <input type="text" name="user_to" readonly="True" value="{{user[1]}}">
                <input type="text" name="user_to_id" value="{{user[0]}}" readonly='True' hidden='True'>
                <input type="submit" value="Start chatting">
                
            </form>
            <br>
        {% endfor %}

    {% endblock %}